<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kaerdan.mvp_navigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".example1_activities.ArticleActivity"
            android:label="@string/example1_title"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".example2_fragments.SingleActivity"
            android:label="@string/example2_title"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".example3_viewpager.ArticleViewPagerActivity"
            android:label="@string/example3_title"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>